.moviesCardList {
    display: flex;
    flex-direction: column;
}

.moviesCardList__movies {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(151px, 1fr));
}

.moviesCardList__more {
    align-self: center;
    margin: 60px auto 80px;
    padding: 11px 0;
    width: 320px;
    background-color: #2f2f2f;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.moviesCardList__more:hover {
    opacity: .7;
}

@media screen and (min-width: 768px) {
    .moviesCardList__movies {
        margin: 70px 70px 0;
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 38px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .moviesCardList__movies {
        grid-template-columns: repeat(auto-fit, min(270px));
    }
}

@media screen and (max-width: 768px) {
    .moviesCardList__movies {
        margin: 70px 0 0;
        padding: 0 30px;
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .moviesCardList__movies {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .moviesCardList__movies {
        margin: 40px 0 0;
        padding: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 34px;
    }

    .moviesCardList__more {
        margin: 59px auto 80px;
        padding: 11px 0;
        width: 240px;
    }
}
