.movieCard {
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: auto 24px;
    grid-template-areas:
    "image image"
    "name icon"
    "duration duration";
}

.movieCard__trailer {
    grid-area: image;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

.movieCard__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.movieCard__delete {
    grid-area: icon;
    align-self: start;
    cursor: pointer;
}

.movieCard__delete:hover {
    opacity: .8;
}

.movieCard__like {
    grid-area: icon;
    align-self: start;
    cursor: pointer;
}

.movieCard__like:hover {
    opacity: .8;
}

.movieCard__name {
    grid-area: name;
    height: 45px;
    margin: 4px 20px 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.movieCard__duration {
    grid-area: duration;
    border-top: solid 1px #424242;
    padding-top: 6px;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .movieCard__name {
        margin: 4.5px 20px 0 0;
    }
}

@media screen and (max-width: 480px) {
    .movieCard__name {
        font-size: 12px;
    }

    .movieCard__duration {
        font-size: 10px;
    }
}
