.profile {
    margin: 74px 0 0;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.profile__form {
    margin: 114px 0 0;
    width: 410px;
    display: flex;
    flex-direction: column;
}

.profile__label {
    margin-bottom: 18px;
}

.profile__label-email {
    margin-bottom: 220px;
}

.profile__input-name {
    display: flex;
    align-items: center;
    padding: 9px 0 16px;
    border-bottom: 1px solid #424242;
}

.profile__input-email {
    display: flex;
    align-items: center;
}

.profile__input-title {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 40rem #202020 inset;
    caret-color: #fff;
}

.profile__input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    color: #fff;
    text-align: end;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.profile__input-error {
    display: block;
    text-align: right;
    margin: 0;
    padding-top: 6px;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.profile__edit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__edit_hidden {
    display: none;
    position: absolute;
}

.profile__btn-edit {
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.profile__btn-edit:hover {
    opacity: .7;
}

.profile__signout {
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 15px 0 0;
    text-decoration: none;
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.profile__signout:hover {
    opacity: .7;
}

.profile__btn-save {
    width: 410px;
    /*margin-top: 220px;*/
    padding: 14px 0;
    background-color: #4285F4;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.profile__btn-save:hover {
    opacity: .8;
}

.profile__btn-save:disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
    cursor: auto;
}

.profile__btn-save_hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .profile {
        margin: 236px auto 0;
        padding-bottom: 269px;
    }

    .profile__form {
        margin-top: 88px;
    }

    .profile__label-email {
        margin-bottom: 209px;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        margin: 70px auto 0;
        padding: 0 30px 40px;
    }

    .profile__form {
        margin-top: 72px;
        width: 260px;
    }

    .profile__label {
        margin-bottom: 17px;
    }

    .profile__label-email {
        margin-bottom: 379px;
    }

    .profile__btn-edit {
        font-size: 12px;
    }

    .profile__signout {
        font-size: 12px;
    }
}
