.navigation__auth {
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.navigation__links-movies {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation__link-movies {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    text-decoration: none;
    margin: 0;
}

.navigation__links-profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navigation__link-profile {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    text-decoration: none;
    margin: 0;
}

.navigation__logo-profile {
    display: inline-block;
    background: rgba(255, 255, 255, .1);
    border-radius: 50px;
    padding: 7px;
    margin-right: 3px;
}

.navigation__unauth {
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navigation__signup {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.navigation__signin {
    padding: 8px 20px;
    text-decoration: none;
    background-color: #3DDC84;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

@media screen and (max-width: 768px){
    .navigation__auth {
        padding-right: 0;
    }

    .navigation__unauth {
        padding-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .navigation__unauth {
        gap: 14px;
    }

    .navigation__signup {
        font-size: 10px;
    }

    .navigation__signin {
        padding: 5px 12px;
        font-size: 10px;
    }
}