.savedMovies {
    max-width: 1280px;
    margin: 80px 70px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, min(270px));
    gap: 38px 20px;
}

.savedMovies__container {
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: auto 24px;
    grid-template-areas:
    "image image"
    "name delete"
    "duration duration";
}

.savedMovies__img {
    grid-area: image;
    width: 100%;
    margin-bottom: 10px;
}

.savedMovies__delete {
    grid-area: delete;
    align-self: start;
}

.savedMovies__name {
    grid-area: name;
    height: 45px;
    margin: 4px 20px 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.savedMovies__duration {
    grid-area: duration;
    border-top: solid 1px #424242;
    padding-top: 6px;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .savedMovies {
        margin: 80px 30px 150px;
        grid-template-columns: repeat(auto-fit, min(339px));
        gap: 30px;
    }

    .savedMovies__name {
        margin: 4.5px 20px 0 0;
    }
}
