.savedMovie {
    display: flex;
    flex-direction: column;
}

.savedMovies {
    display: grid;
}

.savedMovies__container {
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: auto 24px;
    grid-template-areas:
    "image image"
    "name delete"
    "duration duration";
}

.savedMovies__img {
    grid-area: image;
    width: 100%;
    margin-bottom: 10px;
}

.savedMovies__delete {
    grid-area: delete;
    align-self: start;
}

.savedMovies__name {
    grid-area: name;
    height: 45px;
    margin: 4px 20px 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.savedMovies__duration {
    grid-area: duration;
    border-top: solid 1px #424242;
    padding: 6px 0 0;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .savedMovies {
        margin: 70px 70px 240px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 38px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .savedMovies {
        grid-template-columns: repeat(auto-fit, min(270px));
    }
}

@media screen and (max-width: 768px) {
    .savedMovies {
        margin: 70px 30px 150px;
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 30px;
    }

    .savedMovies__name {
        margin: 4.5px 20px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .savedMovies {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .savedMovies {
        margin: 40px 10px 150px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 34px;
    }

    .savedMovies__name {
        font-size: 12px;
    }

    .savedMovies__duration {
        font-size: 10px;
    }
}
