.login {
    width: 396px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    align-self: start;
    width: 38px;
    height: 38px;
}

.login__title {
    align-self: start;
    margin: 40px 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.login__form {
    margin: 35px 0 0;
    display: flex;
    flex-direction: column;
}

.login__label {
    margin-bottom: 19px;
}

.login__label:last-of-type {
    margin-bottom: 0;
}

.login__input-title {
    color: #8b8b8b;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.login__input {
    padding: 4px 0 9px;
    border: none;
    outline: none;
    border-bottom: 1px solid #424242;
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: normal;
    background: transparent;
}

.login__button {
    width: 396px;
    margin-top: 220px;
    padding: 14px 0;
    background-color: #4285F4;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.login__button:hover {
    opacity: .8;
}

.login__subtitle {
    margin: 16px 0 0;
    color: #8b8b8b;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.login__subtitle-link {
    margin-left: 6px;
    text-decoration: none;
    color: #4285f4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .login {
        margin: 0 auto;
        padding: 232px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .login {
        width: 260px;
        padding: 56px 30px 30px;
    }

    .login__logo {
        align-self: center;
    }

    .login__title {
        align-self: center;
        margin: 49px 0 0;
    }

    .login__form {
        margin: 77px 0 0;
    }

    .login__button {
        width: 260px;
        margin-top: 309px;
        font-size: 12px;
    }

    .login__subtitle {
        font-size: 12px;
    }

    .login__subtitle-link {
        font-size: 12px;
    }
}
